.showcase {
    height: 100vh;
    width: 100vw;
    background: url('./pizza-bg.jpg');
    color: white;
}

.cover {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reset {
    border: 0;
    padding: 0;
    margin: 0;
}

.nav-bar {
    display: flex;
    list-style-type: none;
    gap: 40px;
    padding: 0;
    font-size: 1.6rem;
}

.logo {
    font-size: 2.4rem;
}